* {
    font-family: "JetBrains Mono";
    font-size: 13px;
}

window#waybar {
    background: #111111;
    color: #eeeeee;
}

#workspaces {
    margin-left: 8px;
}

#workspaces button {
    padding: 0 6px;
    color: #666666;
    background: transparent;
    border: none;
}

#workspaces button.active {
    color: #ffffff;
}

#clock {
    font-weight: bold;
}

#cpu,
#memory,
#pulseaudio {
    padding: 0 8px;
}

/* vertical separators */
#memory {
    border-left: 1px solid #444444;
}

#pulseaudio {
    border-left: 1px solid #444444;
    margin-right: 8px;
}
